<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>346442533727-gete8b3cj00avbs9qpdgcahgc63a7i0u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.346442533727-gete8b3cj00avbs9qpdgcahgc63a7i0u</string>
	<key>API_KEY</key>
	<string>AIzaSyA0trLS8U7z7sgIrPptW18-qS8rknAbCAI</string>
	<key>GCM_SENDER_ID</key>
	<string>346442533727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dogNews</string>
	<key>PROJECT_ID</key>
	<string>dogexpress-30ff0</string>
	<key>STORAGE_BUCKET</key>
	<string>dogexpress-30ff0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346442533727:ios:aa1faa070e4c7973f804ea</string>
	<key>DATABASE_URL</key>
	<string>https://dogexpress-30ff0-default-rtdb.firebaseio.com</string>
</dict>
</plist>